body.sessions {
  .login {
    width: 500px;
    margin: 50px auto;
    
    h2 {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -1px;
      background: #36393D;
      color: #fff;
      padding: 10px 15px;
      @include border-top-left-radius(4px);
      @include border-top-right-radius(4px);
    }
    
    .content {
      background: #fff;
      padding: 20px 20px;
      @include clearfix;
      @include border-bottom-left-radius(4px);
      @include border-bottom-right-radius(4px);
    }
    
    p {
      margin: 1em 0;
    }
    
    input[type=email], input[type=password] {
      font-size: 16px;
      padding: 5px 3px;
      font-weight: bold;
    }
    
    input[type=checkbox] {
      vertical-align: middle;
    }
  }
}